@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        @apply underline-offset-[3px] decoration-[3px];
    }
    details {
        @apply border border-gray-200 border-solid;
    }
    summary::marker {
        content: '';
    }
    summary {
        @apply pad cursor-pointer text-xs select-none ;
    }
    details[open] {
        @apply pb-4;
    }
    details[open] > summary {
        @apply pb-0;
    }
    main {
        @apply mt-[80px];
    }
    section {
        @apply xl:px-[10%];
    }
    input, textarea, select {
        @apply pad w-full max-w-sm transition bg-gray-50;
    }
    button {
        @apply select-none pad flex gap-2 w-max transition bg-transparent border-transparent border-solid border items-center;
    }
    button:disabled {
        @apply pointer-events-none opacity-50;
    }
}